<div class="article-box">


  <div class="petit-grand">
    {{>molecules-petit-mise-article}} {{>molecules-grande-mise-article}}
  </div>

  <div class="grand-petit">
    {{>molecules-grande-mise-article}} {{>molecules-petit-mise-article}}

  </div>



</div>